{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static "contact/contact.css" %}" />

<div class="container text-center" id="contact">

  <div class="row header">
    <div class="col-md-12">

      <h1>Contact Me</h1>
      <h3>Brandon Carlino - Developer</h3>
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-xs-offset-2 col-xs-4 icon">
      <a href="https://github.com/bacarlino">
        {% load static %}
        <img src="{% static 'images/Github.png' %}" />
        <h3>Github</h3>
      </a>
    </div>
    <div class="col-xs-4 icon">
      <a href="https://www.linkedin.com/pub/brandon-carlino/99/35/1a4">
        {% load static %}
        <img src="{% static 'images/Linkedin.png' %}" />
        <h3>LinkedIn</h3>
      </a>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-xs-offset-2 col-xs-4 icon">
      <a href="https://www.facebook.com/bacarlino">
        {% load static %}
        <img src="{% static 'images/Facebook.png' %}" />
        <h3>FaceBook</h3>
      </a>
    </div>
    <div class="col-xs-4 icon">
      <a href="mailto:bacarlino@gmail.com">
        {% load static %}
        <img src="{% static 'images/email.jpeg' %}" />
        <h3>Email</h3>
      </a>
    </div>

  </div> <!-- row -->
</div> <!-- container -->




{% endblock %}
