{% extends "portfolio/projects.html" %}

{% block body %}

{% load static %}
<link rel="stylesheet" href="{% static 'weather/weather.css' %}" />


<div class="container-fluid weather">
  <div class="row weather-bar">
    <div class="col-md-offset-1 col-md-4 location">
    </div>
    <div class="col-md-2">
      <span class="temp"></span>
      <span class="scale"></span>
    </div>
    <div class="col-md-4 description">
    </div>
  </div>
</div>



{% load static %}
<script src="{% static 'weather/weather.js' %}"></script>

{% endblock %}
