{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/styles/index.css' %}" />

{% block projectnav %}
<ul class="nav">
    <!-- <li><a href="{% url 'home' %}">Home</a></li> -->
    <li><a href="{% url 'tribute' %}">Tribute Page</a></li>
    <li><a href="{% url 'weather' %}">Local Weather</a></li>
    <li><a href="{% url 'randomquote' %}">Random Quote Machine</a></li>
    <li><a href="{% url 'twitch' %}">Twitch Stream</a></li>
    <li><a href="{% url 'tictactoe' %}">Tic-Tac-Toe</a></li>
    <li><a href="{% url 'react' %}">React Projects</a></li>
</ul>
{% endblock %}
