{% extends "portfolio/projects.html" %}

{% block body %}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

<div class="container text-center">
  <div class="well">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Nikola Tesla<br />
            <small>A Master of Electricity</small></h1>

        <div class="thumbnail">
          <img class="img-responsive center-block img-rounded" src="https://s11.postimg.org/5x0fg7b8z/N_Tesla_1.jpg" alt="A Master of Electricity">
          <div class="caption">
            <p>The most electrified man himself, Nikola Tesla.</p>
          </div>
        </div>
          </div>
        <div class="row text-left">
          <div class="col-xs-10 col-xs-offset-1">
            <h3 class="text-center"> ~ A brief look at Tesla's brilliance ~ </h3>
            <ul>
              <li><strong>1856 - </strong>Nikola Tesla is Born in the Smiljan, Austrian Empire - known today as Croatia </li>
              <li><strong>1870 - </strong>Tesla moved to Karlovac and attended school at the Higher Real Gymnasium. It is here that he became interested in electricity and completed a four-year term in only three years in 1873</li>
              <li><strong>1875 - </strong>He continues his studies at Austrian Polytechnic on a scholorship recieving a letter of commendation from the dean to his father stating, "Your son is a star of first rank." </li>
              <li><strong>1882 - </strong>Began work as an engineer in France for the Continental Edison company</li>
              <li><strong>1884 - </strong>Emigrated to New York to eventually be tasked with redisgning Edison's DC generators</li>
              <li><strong>1886 - </strong>Formed Tesla Electric Light & Manufacturing with 2 business partners, Robert Lane and Benjamin Vail- Tesla was ultimately forced out and left with nothing due to differing ideas in the direction of the company</li>
              <li><strong>1887 - </strong>Created an induction motor that would run on the up-and-coming AC power system</li>
              <li><strong>1888 - </strong>Tesla demonstrates his AC motor solidifying his place in the "War of Currents", a battle between Thomas Edison's favor of DC power and George Westinghouse's push for AC systems</li>
              <li><strong>1891 - </strong>Became a naturalized citizen of the United States, demonstrated wireless power transmission, and patented the Tesla coil</li>
              <li><strong>1893 - </strong>Tesla Polyphase System labeled by Westinghouse for their complete polyphase AC system and shown off at the World's Columbian Exposition revealing to the world the great power of AC</li>
              <li><strong>1894 - </strong>Began experimenting with X-Rays</li>
              <li><strong>1896 - </strong>After several years of experimenting with radio transmission, he demonstrated a radio-controlled boat baffling the crowd</li>
              <li><strong>1900 - </strong>Began building Wardenclyffe Tower with $150,000 - he hoped to transmit electrical energy wirelessly across the Atlantic</li>
              <li><strong>1913 - </strong> Bladeless Turbine patented</li>
              <li><strong>1943 - </strong>Tesla dies at the age of 86</li>
            </ul>
            <br />
            <blockquote>"The scientific man does not aim at an immediate result. He does not expect that his advanced ideas will be readily taken up. His work is like that of the planter - for the future. His duty is to lay the foundation for those who are to come,
              and point the way."
              <footer> Nikola Tesla</footer>
            </blockquote>

            <h4 class="text-center">The information presented on this page hardly scratches the surface of the amazing accomplishments of Nikola Tesla. <a href="https://en.wikipedia.org/wiki/Nikola_Tesla" target="_blank">Click Here</a> to read more!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
