html,
body,
#app
{
  height: 100%;
}


body {
  color: #222;
  background-color: #DEDEDE;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

.react-container {
  text-align: center;
  height: 100%;
}

.react-nav {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.active {
  font-weight: bold;
}

.react-nav li {
  margin-right: 15px;
}

#react-home {
  display: flex;
  flex-direction: column;
}

#react-home h1 {
  font-size: 3000%;
  margin: 0;
}

#react-home h2 {
  margin-top: 0;
}

@media (max-width: 750px) {
  #home h1 {
    font-size: 2000%;
  }

  @media (max-width: 500px) {
    #home h1 {
      font-size: 1250%;
    }
  }
}
