html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /*border: solid red;*/
}

html,
body,
#app
{
  height: 100%;
}


body {
  color: #222;
  background-color: #DEDEDE;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  text-align: center;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.active {
  font-weight: bold;
}

.nav li {
  margin-right: 15px;
}

#home {
  display: flex;
  flex-direction: column;
}

#home h1 {
  font-size: 3000%;
  margin: 0;
}

#home h2 {
  margin-top: 0;
}

@media (max-width: 750px) {
  #home h1 {
    font-size: 2000%;
  }

  @media (max-width: 500px) {
    #home h1 {
      font-size: 1250%;
    }
  }
}
