<!DOCTYPE html>
<html lang="en">

<head>

  {% block title %}
  <title>Brandon Carlino</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://use.fontawesome.com/e406c0d4e8.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'index/index.css' %}" />
</head>

<body>
  {% block main_nav %}
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{% url 'home' %}">Brandon Carlino</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-right">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
            <ul class="dropdown-menu text-center navbar-right navbar-inverse">
              <li class="text-right"><a class="navbar-inverse" href="{% url 'tribute' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Tribute Page</a></li>
              <li class="text-right"><a href="{% url 'weather' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Local Weather</a></li>
              <li class="text-right"><a href="{% url 'randomquote' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Random Quote Machine</a></li>
              <li class="text-right"><a href="{% url 'wikiviewer' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Wiki Viewer</a></li>
              <li class="text-right"><a href="{% url 'twitch' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Twitch Stream</a></li>
              <li class="text-right"><a href="{% url 'tictactoe' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>Tic-Tac-Toe</a></li>
              <li class="text-right"><a href="{% url 'react' %}"><i class="fa fa-free-code-camp" aria-hidden="true"></i>React Projects</a></li>
            </ul>
          </li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  {% endblock %}

  {% block content %} {% endblock %}

</body>

</html>
