html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  /*border: solid red;*/
}

html,
body,
#app
{
  height: 100%;
}


body {
  color: #222;
  background-color: #DEDEDE;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

/*ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  text-align: center;
  height: 100%;
}*/

.navbar {
  /*height: 100px;*/
  border-radius: 0;
}

.navbar-brand {
  font-size: 2.5em;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

/*.nav li {
  margin-right: 15px;
}*/

.dropdown-menu > li > a {
  color: #9D9D9D
}

#home {
  /*display: flex;*/
  /*flex-direction: column;*/
}

#home h1 {
  font-size: 3000%;
  margin: 0 auto;
  margin-top: 50px;
  /*border: 25px solid #222;*/
  /*border-radius: 125px;*/
}

#home h2 {
  margin-top: 0;
}

.fa-free-code-camp {
  color: green;
  padding-right: 5px;
}

@media (max-width: 750px) {
  #home h1 {
    font-size: 2000%;
  }

  @media (max-width: 500px) {
    #home h1 {
      font-size: 1250%;
    }

    .navbar-brand {
      font-size: 2em;
    }

    #home h1 {
      margin-top: 0;
    }

    .react-nav {
      /*margin-bottom: 25px;*/
    }
  }
}
